node_modules
.idea
.DS_Store
build
projts
!vendors/lwip/build
content
!tests/e2e/mocks/site/content

src/es6/icons.es6
src/styles/config.pcss
state/state.js

**/images_src
**/images_en_src
**/images_es_src