@media (--small-screen) {
  /* VIEW: ALL, SMALL SIZE */
  .home {
    &.container {
      & .menu.menu-content {
        & .project-button-container {
        }
      }
    }
  }

  .project {
    &.container {

      & .gallery {
        padding-top: 15vh;
      }
    }
  }


}