@media (--small-screen) {
  /* VIEW: ALL, SMALL SIZE */
  .home {
    &.container {
      & .menu.menu-content {
        & .project-button-container {
          width: 22%;
        }
      }
    }
  }

  .project {
    &.container {

      & .text.title {
        display: none;
      }

      & .gallery {
        padding-top: 14vh;
      }
    }
  }


}