body {
  margin: 0px;
}

html {
  background: resolve("PIC_0002b/1240_PIC_0002b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}