:root {
  font-size: 16px;
}

/*
@font-face {
  font-family: 'Raleway';
  font-path: '../fonts/Raleway/Raleway-Thin.ttf';
  font-weight: 100;
  font-style: normal;
}
*/


body {
  margin: 0px;
}

body, body a {
  font-family: "Raleway", sans-serif;
  /*font-family: "Helvetica Neue", "Open Sans", sans-serif;*/
  text-decoration: inherit;
}


h1 {
  margin:0px;
}



.home {
}