.home {
  &.container {
    & .main-title {
      font-size: 5vw;
    }
    & .title-header {
      text-align: center;

    }
  }
  & .menu.menu-content {
    & .project-button-container {
      text-align: center;
      & .text {
        font-weight: 300;
        font-size: 2vw;
        text-transform: capitalize;
        &.title {
          font-weight: 300;
        }
      }
      & [class^="icon-"], & [class*=" icon-"] {
        font-size: 8vw;
      }
    }
  }
}
