
/* ALL VIEWS */

.container {

  & .main-title {

    font-weight: 100;
    letter-spacing: 0.1em;
  }

  & .contact {
    text-align: center;

    & .data {
      font-weight: 300;
      padding:10px;
      letter-spacing: 0.1em;
      font-size: 12px;
    }
  }
}