.project {
  &.container {
    & .main-title {
      font-size: 3vw;
    }
    & .title-header {

    }
    & .contact {

      & .data {
      }
    }
  }
  & .menu.menu-header {
    & .project-button-container {
      & .text {
        &.title {
        }
      }
      & [class^="icon-"], & [class*=" icon-"] {
      }
    }
  }
}

