$background: #2b2b2b;


/* GENERAL */

.header {
    width: 100%;
    display: inline-block;
}

.project-button-container {
    width: 22%;
    text-align: center;
    margin: 7px;
    padding: 7px;
    float: left;
}

.active.project-button-container {
    background: $background;
}

.mainpage {
    width: 100%;
    display: inline-block;
}

.menu {
    width: 100%;
}

.loading-msg{
    font-size: 20px;
    font-weight: 200;
    color: #666;
    width: 130px;
    margin: 0 auto;
}

#msg-app-loading{
    margin-top: 60px;
}

#msg-loading-more{
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

.loading-msg {
    /*font-size:0.5rem;*/
}

.loading-msg-text {
    position: relative;
    left:-9000px;
}

/*.loading-msg {
    color: white;
}*/

/*.loading-msg{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #666;
    width: 130px;
    margin: 0 auto;
}

.loading-msg:after {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; !* ascii code for the ellipsis character *!
    width: 0px;
}

#msg-app-loading{
    margin-top: 60px;
}

#msg-loading-more{
    text-decoration: none;
    display: block;
    margin-top: 10px;
}*/

/* TEXT */

:root {
    font-size: calc(100vw / 60);
}

body, body a {
    margin: 0px;
    font-family: "Helvetica Neue", "Open Sans", sans-serif;
    color: #2b2b2b;
    text-decoration: inherit;
}

h1, h1 a {
    font-size: 0.6rem;
    color: #b73e3e;
    padding: 12px 10px 5px 10px;
    display: initial;
}

.type {
    font-size: 0.4rem;
    color: #b3b3b3;
    padding: 5px 0px 20px 0px;
}

.title {
    font-size: 0.6rem;
    color: #b3b3b3;
    padding: 12px 10px 5px 10px;
}

.contact {
    display: inline;
    font-size: 0.4rem;
    color: #353535;
    padding: 5px 0px 20px 0px;
    font-weight: bolder;
}

.contact span {
    display: inline;
    margin: 3px;
}

.title-project {

}

/* PROJECT VIEW */
.project {

}

.project .gallery {
    padding-top: 115px;
}

.project .header {
    opacity: 0.9;
    height: 115px;
    position: fixed;
    background: white;
}

.project .header .contact {

}

.project .header .contact span {

}

.project .header h1 {

}

.project .header h1 a {

}

.project .menu {
    display: inline-block;
    background: white;
}

.project .menu .project-list {

}

.project .menu .project-list .project-button-container {

}

.project .menu .project-list .project-button-container a {

}

.project .menu .project-list .project-button-container a [class*=" icon-"],
.project .menu .project-list .project-button-container a [class^="icon-"] {
    font-size: 2rem;
}

.project .menu .project-list .project-button-container a .text {
    display: none;
}

.project .menu .project-list .project-button-container.active a .text.title {
    display: inherit;
}

.project .menu .project-list .project-button-container.no-active a .text.title {
    /*font-size: 65%;
    display:inherit;*/
}

.project .menu .project-list .project-button-container.active {

}

.project .menu .project-list .project-button-container.active a {

}

.project .menu .project-list .project-button-container.active a [class*=" icon-"] {

}

.project .menu .project-list .project-button-container.active a text {

}

/*Ico fonts*/

@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?fazjsb');
    src: url('../assets/fonts/icomoon.eot?fazjsb#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?fazjsb') format('truetype'),
    url('../assets/fonts/icomoon.woff?fazjsb') format('woff'),
    url('../assets/fonts/icomoon.svg?fazjsb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 4rem;
    color: #2b2b2b;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.active [class^="icon-"], .active [class*=" icon-"] {
    color: #f1f1f1;
}

.icon-ico_001:before {
    content: "\e900";
}

.icon-ico_002:before {
    content: "\e901";
}

.icon-ico_003:before {
    content: "\e902";
}

.icon-ico_004:before {
    content: "\e903";
}

